
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: sans-serif; 
    background-color: #000000; 
  }
  
  a {
    text-decoration: none; 
    color: inherit; 
  }
  

  @media screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }
  }
  

 /* Navbar styles */
body {
 
  margin: 0;
  transition: margin-left .5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #171717;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #171717;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 80px;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.menu li a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

.cv-button a {
  color: #fff;
  background-color: #FF8412;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.cv-button a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar .menu li {
  padding: 8px 8px 8px 32px;
  text-align: left;
}

.sidebar .menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar .menu li a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

.sidebar .cv-button {
  padding: 15px 8px 15px 32px;
  text-align: left;
}

.sidebar .cv-button a {
  color: #fff;
  background-color: #FF8412;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.sidebar .cv-button a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 2;
}

.openbtn:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .navbar {
      display: none;
  }

  .mobile-header {
      display: flex;
  }

  .sidebar .logo {
      display: none;
  }
}

@media (min-width: 769px) {
  .sidebar {
      display: none;
  }

  .mobile-header {
      display: none;
  }

  .openbtn {
      display: none;
  }
}

  .container,
.container-1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin-top: 50px;
}

.left-photo img {
    width: 100%; 
    height: auto;
}

.right-photo img {
  width: 100%;
  max-width: 600px;  
  height: auto;
  display: block;  
  margin: 0 auto;  
}


.right-photo {
  padding: 15px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .right-photo img {
      max-width: 100%;  
  }
}

.left-details,
.right-details {
    margin-right: 60px;
}

.right-details {
    margin-left: 200px;
}

h1,
h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #ffffff; 
    font-family: "Michroma", sans-serif;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #ffffff; 
    font-family: "Ubuntu", sans-serif;
}

.orange-text {
    color: #FF8412; 
}


@media screen and (max-width: 768px) {
    .container,
    .container-1 {
        flex-direction: column; 
        text-align: center; 
    }

    .left-details,
    .right-details {
        margin: 0; 
    }

    .right-details {
        margin-top: 20px; 
    }

    h1,
    h2 {
        font-size: 30px; 
        margin-bottom: 30px; 
    }

    p {
        font-size: 18px; 
        margin-bottom: 20px; 
    }
}












*

.container3 {
  margin-top: 50px;
  padding: 20px;
  margin: 0 auto; /* Center the container */
  text-align: left; /* Align the heading to the left */
  margin-left: 250px; /* Adjust the left margin */
}

h3 {
  font-size: 30px; /* Match your heading font size */
  color: #ffffff; /* Match your heading color */
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: "Michroma", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 20px; /* Match your list item font size */
  color: #8b8989; /* Match your list item color */
  margin-top: 20px;
  position: relative;
}

.orange-bullet:before {
  content: '';
  width: 8px; /* Adjust the size of the bullet */
  height: 8px; /* Adjust the size of the bullet */
  background-color: #FF8412; /* Orange color for the bullet */
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -20px; /* Adjust the distance of the bullet from the text */
  top: 50%;
  transform: translateY(-50%);
}

b {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF8412; /* Match your button background color */
  color: #ffffff; /* Match your button text color */
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.container3 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* Transparent text */
  border: 2px solid #FF8412; /* Orange border */
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px; /* Adjust top margin */
  cursor: pointer;
  font-family: "Michroma", sans-serif;
  transition: color 0.3s; /* Smooth transition for text color change */
}

.container3 a:hover {
  color: #ffffff; /* White text on hover */
  background-color: #FF8412; /* Orange background on hover */
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .container3 {
      margin-left: 0; /* Reset left margin for smaller screens */
      text-align: center; /* Center text content */
  }

  ul li {
      text-align: center; /* Center list items */
  }
}



.container4 {
  margin-top: 50px;
  padding: 20px;
  margin: 0 auto; /* Center the container */
  text-align: left; /* Align the heading to the left */
  margin-left: 250px; /* Adjust the left margin */
}

h3 {
  font-size: 30px; /* Match your heading font size */
  color: #ffffff; /* Match your heading color */
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: "Michroma", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 20px; /* Match your list item font size */
  color: #ffffff; /* Match your list item color */
  margin-top: 20px;
  position: relative;
}

.orange-bullet:before {
  content: '';
  width: 8px; /* Adjust the size of the bullet */
  height: 8px; /* Adjust the size of the bullet */
  background-color: #FF8412; /* Orange color for the bullet */
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -20px; /* Adjust the distance of the bullet from the text */
  top: 50%;
  transform: translateY(-50%);
}

b {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF8412; /* Match your button background color */
  color: #ffffff; /* Match your button text color */
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.container4 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* Transparent text */
  border: 2px solid #FF8412; /* Orange border */
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px; /* Adjust top margin */
  cursor: pointer;
  font-family: "Michroma", sans-serif;
  transition: color 0.3s; /* Smooth transition for text color change */
}

.container4 a:hover {
  color: #ffffff; /* White text on hover */
  background-color: #FF8412; /* Orange background on hover */
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .container4 {
      margin-left: 0; /* Reset left margin for smaller screens */
      text-align: center; /* Center text content */
  }

  ul li {
      text-align: center; /* Center list items */
  }
}






.footer{
    background:#171717;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    margin-top: 70PX;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(255, 255, 255);
    font-size:0.8em;
    font-family: "Michroma", sans-serif;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#FF8412;
    transition:0.5s;
    font-family: "Michroma", sans-serif;
    font-size: 16PX;
    }
    
    .footer .row a:hover{
    color:#ffffff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
  
