
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: sans-serif; 
    background-color: #000000; 
  }
  
  a {
    text-decoration: none; 
    color: inherit; 
  }
  

  @media screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }
  }
  

  /* Navbar styles */
body {
 
  margin: 0;
  transition: margin-left .5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #171717;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #171717;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 80px;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.menu li a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

.cv-button a {
  color: #fff;
  background-color: #FF8412;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.cv-button a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar .menu li {
  padding: 8px 8px 8px 32px;
  text-align: left;
}

.sidebar .menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar .menu li a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

.sidebar .cv-button {
  padding: 15px 8px 15px 32px;
  text-align: left;
}

.sidebar .cv-button a {
  color: #fff;
  background-color: #FF8412;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.sidebar .cv-button a:hover {
  background-color: #FF8412;
  color: #ffffff;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 2;
}

.openbtn:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .navbar {
      display: none;
  }

  .mobile-header {
      display: flex;
  }

  .sidebar .logo {
      display: none;
  }
}

@media (min-width: 769px) {
  .sidebar {
      display: none;
  }

  .mobile-header {
      display: none;
  }

  .openbtn {
      display: none;
  }
}
  
  .leftt-section h2 {
    text-align: center; 
    margin-top: 70px; 
    font-size: 50px; 
    color: #ffffff; 
    font-family: "Michroma", sans-serif;
    margin-bottom: 70px; 
  }


  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.box {
    width: calc(50% - 20px);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.left-box {
    margin-right: 20px;
}

.topic {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FF8412;
    font-family: "Michroma", sans-serif;
}

.topic span {
    color: #FF8412;
}

.description {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.right-box {
    width: calc(50% - 20px); 
}

.boxx {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0;
}

.form-group {
    margin-top: 40px;
}

.contact-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-input[type="text"],
.contact-input[type="email"],
.contact-input textarea {
    width: 100%;
}

.contact-input textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #FF8412;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }

    .right-box {
        width: calc(100% - 40px);
    }
}





.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center; /* Center align text */
}

.contact-info {
  width: 100%; /* Take full width */
  text-align: center; /* Center align text */
  margin-top: 80px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 30px;
  font-family: "Michroma", sans-serif;
  margin-bottom: 20px;
}

.contact-info p.email {
  color: #ffffff; /* Color for email */
}

.contact-info p.phone {
  color: #FF8412; /* Color for phone number */
}

@media (max-width: 768px) {
  .contact-info p {
      font-size: 14px;
  }
}








.footer{
  background:#171717;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  margin-top: 70PX;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgb(255, 255, 255);
  font-size:0.8em;
  font-family: "Michroma", sans-serif;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#FF8412;
  transition:0.5s;
  font-family: "Michroma", sans-serif;
  font-size: 16PX;
  }
  
  .footer .row a:hover{
  color:#ffffff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
